:root {
    --color-purple: #552cb7;
    --color-pink: #fb7da8;
    --color-blue: #058cd7;
    --color-green: #00995e;
    --color-red: #fd5a46;
    --color-dark-yellow: #fcc567;
    --color-light-yellow: #ffe8ce;

    --title-font: 'Bungee Shade', sans-serif;
    --subtitle-font: 'Bungee', sans-serif;
    --text-font: 'Nunito Sans', sans-serif;
  }
  
body {
    margin: 0;
    padding: 0;
    background-color: var(--color-light-yellow);
  }

header, footer {
    text-align: center;
    padding: 1rem;
}
  
main {
    padding: 2rem;
}

.intro_img{
    display: flex;
}

.intro_img img {
    width: 400px;
    height: auto;
  }

.intro_text {
    display: flex;
    align-items: flex-start;
    flex-direction: column;        
    justify-content: center;
}

.intro_text h1 {
font-family: var(--title-font);
font-size: 60px;
text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black, 0.5px 0.5px 0 black;
}

.intro_text p {
    font-family: var(--subtitle-font);
    font-size: 30px;
}

.intro_text_btn {
    position: relative;
}
  
.btn-main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--subtitle-font);
    font-size: 18px;
    padding: 1rem 2rem;
    background-color: var(--color-purple);
    color: white;
    border: 3px solid black;
    border-radius: 18px;
    text-decoration: none;
    position: relative;
    z-index: 2;
    cursor: pointer;
    width: 300px;
    height: 50px;
  }
  
  .btn-background {
    position: absolute;
    top: calc(100% - 2.5rem);
    left: 0.8rem;
    width: 300px;
    height: 50px;
    background-color: black;
    border-radius: 18px;
    z-index: 1;
  }

.personal{
    margin-top: 2rem;
    background-color: var(--color-dark-yellow);
    display: flex;
    
    padding: 100px 50px 100px 80px;
}

.personal_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.personal_description{
    display: flex;
}

.personal_description h1{
    font-family: var(--subtitle-font);
    font-size: 40px;
    color: white;
}

.personal_description p{
    font-family: var(--text-font);
    font-weight: 700;
    font-size: 18px;
    color: black;
}

.personal_name h1{
    font-family: var(--subtitle-font);
    font-size: 25px;
    color: white;
    margin-left: -50px;
}

.personal_name p{
    font-family: var(--subtitle-font);
    font-size: 20px;
    color: black;
    margin-top: -10px;
    margin-left: 20px;
}

.personal_img{
    display: flex;
    align-items: center;
}

.personal_img img {
    width: 500px;
    height: auto;
  }

.overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.overview h1 {
    font-family: var(--subtitle-font);
    font-size: 40px;
    color: var(--color-red);
}

.overview h2 {
    font-family: var(--subtitle-font);
    font-size: 30px;
    color: var(--color-red);
}

.overview p {
    font-family: var(--text-font);
    font-size: 18px;
    color: black;
    text-align: center;
    padding: 0 270px;
    margin-top: 1rem;
}

.overview img {
    width: 150px;
    height: auto;
    margin-bottom: 2rem;
}

.journey {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: var(--color-dark-yellow);
}

.journey h1 {
    font-family: var(--subtitle-font);
    font-size: 40px;
    color: white;
    text-align: center;
    margin-bottom: 2rem;
}

.journey_items {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 2rem;
}

.cuadro-wrapper {
    position: relative;
    width: 350px;
    height: 150px;
  }

  .cuadro-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-light-yellow);
    border: 3px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    z-index: 2;
    padding: 1rem;
  text-align: center;
  flex-direction: column;
  }

  .hover-text {
  display: none;
  color: white;
  font-size: 18px;
  font-family: var(--subtitle-font);
}

.hover-text-6 {
  display: none;
  color:black;
  font-size: 18px;
  font-family: var(--subtitle-font);
}

.box-background {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 15px;
  z-index: 1;
}

.journey_items img {
    width: 80px;
    height: auto;
}

.cuadro-item-1:hover {
  background-color: var(--color-blue);
}

.cuadro-item-2:hover {
  background-color: var(--color-red);
}

.cuadro-item-3:hover {
  background-color: var(--color-purple);
}

.cuadro-item-4:hover {
  background-color: var(--color-green);
}

.cuadro-item-5:hover {
  background-color: var(--color-pink);
}

.cuadro-item-6:hover {
  background-color: white;
}

.cuadro-item:hover img {
  display: none;
}

.cuadro-item:hover .hover-text{
  display: block;
}

.outcomes {
    display: flex;
    align-items: center;
    padding: 2rem;
}

.outcomes h1 {
    font-family: var(--subtitle-font);
    font-size: 40px;
    color: var(--color-blue);
    text-align: center;
    margin-bottom: 2rem;
}

.outcomes-main img{
    width: 450px;
    height: auto;
}

.outcomes-examples img{
    width: 600px;
    height: auto;
    margin: 10px 0px;
}

.toolkit-main {
    background-color: var(--color-dark-yellow);
    padding: 5rem 8rem;
}

.toolkit {
    display: flex;
    align-items: center;
    padding: 2rem;
}

.toolkit h1 {
    font-family: var(--subtitle-font);
    font-size: 40px;
    color: white;
    text-align: center;
    margin-bottom: 4rem;
}

.toolkit-sections {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toolkit-sections img {
    width: 150px;
    height: auto;
    margin-bottom: 1rem;
}

.toolkit-sections h2 {
    font-family: var(--subtitle-font);
    font-size: 20px;
    color: white;
    margin-bottom: 0.5rem;
}

.toolkit-sections p {
    font-family: var(--text-font);
    font-size: 18px;
    font-weight: 600;
    color: black;
    text-align: center;
    padding: 0px 15px;
}

.next-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.next-main h1 {
    font-family: var(--subtitle-font);
    font-size: 40px;
    color: black;
    text-align: center;
    margin: 2rem 0rem;
}

.next {
    display: flex;
    align-items: center;
    margin: 2rem 0;
    padding: 0px 12rem;
}

.next-icon img{
    width: 250px;
    height: auto;
}

.next-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.next-text h2 {
    font-family: var(--subtitle-font);
    font-size: 30px;
    margin-bottom: 1rem;
}

.next1 h2{
    color: var(--color-blue);
}

.next2 h2{
    color: var(--color-red);
}

.next3 h2{
    color: var(--color-green);
}

.next4 h2{
    color: var(--color-dark-yellow);
}

.next-text p {
    font-family: var(--text-font);
    font-size: 18px;
    text-align: center;
    padding: 0 20px;
    font-weight: 600;
}

footer {
    background-color: var(--color-dark-yellow);
    color: white;
    padding: 1rem;
}